<h1>Edit Photo</h1>

<form action="/update_photo">
  <div>
    <label for="url">
      Image URL
    </label>

    <input id="url" type="text" name="da_source" value="url">
  </div>

  <div>
    <label for="cap">
      Caption
    </label>

    <input id="cap" type="text" name="da_caption" value="cap">
  </div>

  <button>
    Update Photo
  </button>
</form>
