<h1>Edit Photo <%= @photo.id %></h1>

<form action="/update_photo/<%= @photo.id %>">
  <div>
    <label for="source">
      Image URL
    </label>

    <input id="source" type="text" name="source" value="<%= @photo.source %>">
  </div>

  <div>
    <label for="caption">
      Caption
    </label>

    <input id="caption" type="text" name="caption" value="<%= @photo.caption %>">
  </div>

  <button>
    Update Photo
  </button>
</form>
