<h1>Add a new Photo</h1>

<form action="/create_photo">
  <div>
    <label for="url">
      Image URL
    </label>

    <input id="url" type="text" name="da_source">
  </div>

  <div>
    <label for="cap">
      Caption
    </label>

    <input id="cap" type="text" name="da_caption">
  </div>

  <button>
    Create Photo
  </button>
</form>
